<% action = (sub.persisted? ? sub_url(sub) : subs_url) %>
<% method = (sub.persisted? ? "put" : "post") %>
<% message = (sub.persisted? ? "Update sub" : "Add sub") %>

<form action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <% if method == "post" %>
    <label for="sub_name">Name</label>
    <input
       id="sub_name"
       name="sub[name]"
       type="text">
    <br>
    <input
       id="sub_user_name"
       name="sub[user_name]"
       type="hidden"
       value=<%= current_user.user_name %>>
    <br>
  <% else %>
    <label for="sub_name">Name</label>
    <input
       id="sub_name"
       name="sub[name]"
       type="text"
       value=<%= sub.name %>>
    <br>
    <label for="sub_user_id">Mod Username</label>
    <input
       id="sub_user_name"
       name="sub[user_name]"
       type="text"
       value=<%= current_user.user_name %>>
    <br>
  <% end %>

  <input type="submit" value="<%= message %>">
</form>
